- content_for :title do
  = t('admin2.sidebar.design.experimental')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.design.experimental')

.content-card-section-container
  %section.content-card-section
    %h2 New layout
    %p.ingress When new layout components are made available for your marketplace, you can choose whether you want to start using the new component or continue using the old one. You can toggle the selection at any point from this page. It's recommended to always be using the new version, as the old components might be phased out at some point. In case a component you're currently using is going to be phased out, you will be contacted in advance.
    = form_for @current_community, url: update_experimental_admin2_design_experimental_index_path, html: { class: %i[content-card-section-form] }, method: :patch do |form|

      - features.map do |feature|
        .form-group
          %label{:for => "displayNameType"}
            = feature[:title]
          .form-radiobutton-wrapper
            .form-radiobutton.form-check-inline
              = radio_button_tag "enabled_for_user[#{ feature[:name] }]", true, feature[:enabled_for_user], disabled: feature[:required_for_user]
              -#%input#newTopBarOnlyYou.form-check-input{:name => "displayNameType", :type => "radio"}
              %label.form-check-label{:for => "newTopBarOnlyYou"} Only you
            .form-radiobutton.form-check-inline
              = radio_button_tag  "enabled_for_community[#{ feature[:name] }]", true, feature[:enabled_for_community], disabled: feature[:required_for_community]
              -#%input#newTopBarAllUsers.form-check-input{:checked => "checked", :name => "displayNameType", :type => "radio"}
              %label.form-check-label{:for => "newTopBarAllUsers"} All users
          %small#displayNameType-help.form-text The new Top bar is visible on every page.

      -#.form-group
      -#  %label{:for => "displayNameType"} Enable the new Search page for:
      -#  .form-radiobutton-wrapper
      -#    .form-radiobutton.form-check-inline
      -#      %input#newSearchPageOnlyYou.form-check-input{:name => "displayNameType", :type => "radio"}/
      -#      %label.form-check-label{:for => "newSearchPageOnlyYou"} Only you
      -#    .form-radiobutton.form-check-inline
      -#      %input#newSearchPageAllUsers.form-check-input{:checked => "checked", :name => "displayNameType", :type => "radio"}
      -#      %label.form-check-label{:for => "newSearchPageAllUsers"} All users
      -#  %small#displayNameType-help.form-text The new Search page requires the new Top bar.

      .content-card-terminal
        = button_tag t('admin2.save_changes'), class: %i[btn btn-primary]
