- multi_language = translations.count > 1
.form-group
  %label
    = header
  - if multi_language
    %small.form-text-above
      = info_text.html_safe

    - translations.each do |language_key, value|
      .d-flex.multiple-languages
        %span.language
          = value[:language]
        = text_field_tag "community_customizations[#{language_key}][#{input_name}]", value[:translation], class: input_classes, maxlength: defined?(maxlength) ? maxlength : nil, placeholder: defined?(placeholder) ? placeholder : ''

  - else

    .form-group
      %label{:for => "marketplaceName"} Marketplace name
      %input#marketplaceName.form-control{"aria-describedby" => "marketplaceName", :placeholder => "Marketplace name...", :type => "text", :value => "Bikerrrs"}/

    .form-group
      %label{:for => "marketplaceSlogan"} Marketplace slogan &amp; color
      .d-flex
        %input#marketplaceSlogan.form-control{"aria-describedby" => "marketplaceSlogan", "aria-label" => "Marketplace slogan", :placeholder => "Marketplace slogan...", :style => "padding-right: 86px", :type => "text", :value => "Bike to the sunset with Bikerrrs"}/
        %input#colorpicker-slogan{"aria-describedby" => "colorpicker-slogan", "aria-label" => "Marketplace slogan color"}/
        / Inline style for input because of the colorpicker element

      %small#marketplaceSlogan-help.form-text Slogan is shown in browsers, search engines and social media.
      .form-check
        %input#marketplaceSloganCheck.form-check-input{:checked => "checked", :type => "checkbox"}/
        %label.form-check-label{:for => "marketplaceSloganCheck"} Display the slogan in the homepage for users who are not logged in

    .form-group
      %label{:for => "marketplaceDescription"} Marketplace description &amp; color
      .d-flex
        %input#marketplaceDescription.form-control{"aria-describedby" => "marketplaceDescription", "aria-label" => "Marketplace slogan", :placeholder => "Marketplace description…", :style => "padding-right: 86px", :type => "text"}/
        %input#colorpicker-description{"aria-describedby" => "colorpicker-description", "aria-label" => "Marketplace description color"}/
        / Inline style for input because of the colorpicker element
      %small#marketplaceDescription-help.form-text Description is shown in browsers, search engines and social media.
      .form-check
        %input#marketplaceDescriptionCheck.form-check-input{:type => "checkbox"}/
        %label.form-check-label{:for => "marketplaceDescriptionCheck"} Display the description in the homepage for users who are not logged in
